<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>
<link media="all" rel='stylesheet' href='/stylesheets/main.css' />

<body>
    <h1>Home</h1>
</body>
<script defer src="/javascripts/home.js" type="text/javascript"></script>
</html>
